body {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    
    font-family: "Roboto", sans-serif;

    grid-template-areas:
        "side head"
        "side main";
    grid-template-columns: 1fr 5fr; 
    grid-template-rows: 1fr 5fr;
}

div#sidebar {
    grid-area: side;

    background-color: #ea580c;
    font-size: 26px;
    color: white;

    display: grid;
    grid-template-areas: 
        "logo"
        "navlinks";
    grid-template-rows: max-content 1fr;
}

div#logo {
    grid-area: logo;
    display: grid;
    grid-template-columns: 3em 1fr;
    font-weight: bold;
}

div#logo > svg {
    height: 3em;
    fill: white;
}

div#logo > span {
    align-self: center;
}

div#nav-links {
    grid-area: navlinks;
}

div#header {
    grid-area: head;
    background-color: blanchedalmond;
}

main {
    grid-area: main;
    background-color: gainsboro;
    
    display: grid;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
    grid-template-columns: 3fr 1fr; 
    grid-template-rows: 2fr 2fr;
}

div#projects {
    grid-area: projects;

    display: grid;
    grid-template-rows: 10ch repeat(auto-fit, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
}

div#projects > h2 {
    grid-column: span 2;
}

div.project-card {
    width: 50ch;
    border: 1px solid brown;
}

div#announcements {
    grid-area: announcements;
}

div#trending {
    grid-area: trending;
}