body {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    
    font-family: "Roboto", sans-serif;

    grid-template-areas:
        "side head"
        "side main";
    grid-template-columns: 1fr 5fr; 
    grid-template-rows: 1fr 5fr;
}

div#sidebar {
    grid-area: side;

    background-color: #ea580c;
    font-size: 26px;
    color: white;
    padding: 0.5em;

    display: grid;
    grid-template-areas: 
        "logo"
        "navlinks";
    grid-template-rows: max-content 1fr;
}

div#logo {
    grid-area: logo;
    display: grid;
    grid-template-columns: 3em 1fr;
    font-weight: bold;
}

div#sidebar svg {
    height: 1em;
    fill: white;
}

div#logo > svg {
    height: 3em;
}

div#logo > span {
    align-self: center;
}

div#nav-links {
    grid-area: navlinks;

    padding-top: 1em;
}

div#nav-links > div {
    display: grid;
    grid-template-columns: 3em 1fr;
    padding-top: 0.5em;
}

div#nav-links > div:nth-last-child(3) {
    padding-top: 2em;
}

div.nav-link > svg {
    place-self: center;
}

div#header {
    grid-area: head;
    background-color: blanchedalmond;
    font-size: 26px;
    padding: 0.5em 2em;

    display: grid;
    grid-template-areas:
        "search account"
        "greeting card-operations";
    grid-template-columns: 3fr 2fr;
}

form {
    grid-area: search;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

input {
    border: none;
    height: 40%;
    border-radius: 20px;
}

div#account {
    grid-area: account;

    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

div#greet {
    grid-area: greeting;
}

div#card-operations {
    grid-area: card-operations;
}

main {
    grid-area: main;
    background-color: gainsboro;
    
    display: grid;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
    grid-template-columns: 3fr 1fr; 
    grid-template-rows: 2fr 2fr;
}

div#projects {
    grid-area: projects;

    display: grid;
    grid-template-rows: 10ch repeat(auto-fit, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
}

div#projects > h2 {
    grid-column: span 2;
}

div.project-card {
    width: 50ch;
    border: 1px solid brown;
}

div#announcements {
    grid-area: announcements;
}

div#trending {
    grid-area: trending;
}

button {
    height: 40%;
    background: none;
    border: none;
}

div#header svg {
    width: 30px;
    height: 30px;
  }